
<div class="card">
  <div class="card-body">
    <form #addeventsForm="ngForm" (ngSubmit)="onSubmit(addeventsForm)">
      <div class="form-group">
        <input type="hidden" 
        name="$key" 
        class="form-control"
        #$key="ngModel" 
        [(ngModel)]="eventosService.eventoSeleccionado.$key"
        placeholder="ID"
        >
        

      </div>

      <div class="form-group">
        <input type="text"
        
            class="form-control"
            name="nombre"
            #nombre="ngModel"
            [(ngModel)]="eventosService.eventoSeleccionado.nombre"
            placeholder="Nombre"
      
        >
      </div>

      <div class="form-group">
        <input type="text"
        
            class="form-control"
            name="hora"
            #hora="ngModel"
            [(ngModel)]="eventosService.eventoSeleccionado.hora"
            placeholder="Hora"
        
       >
      </div>

      <div class="form-group">
        <input type="date"
        
          class="form-control"
          name="fecha"
          #fecha="ngModel"
          [(ngModel)]="eventosService.eventoSeleccionado.fecha"
          placeholder="fecha"
          > 
      </div>

      <div class="form-group">
        <input type="text"
        
          class="form-control"
          name="descripcion"
          #descripcion="ngModel"
          [(ngModel)]="eventosService.eventoSeleccionado.descripcion"
          placeholder="Descripcion de evento"
          > 
      </div>
        
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-plus-circle"></i> Agregar Evento
        </button>
        <button class="btn btn-secondary" type="reset" (click)="resetForm(addeventsForm)">
            <i class="fas fa-sync-alt"></i> Reset
        </button>
      </div>
        
      

    </form>
  </div>
</div>


